.collection-card {
  background-color: #F5F5F5;
}

.collection-edit-input {
  border: solid 1px #4F4CCF;
  width: 100%;
}

.collection-button-new {
  text-align: left;
  text-decoration: none;
  margin-top: 15px;
}


.collection-button-group {
  margin-left: auto;
  margin-right: 0;
}

.collection-view-paragraph {
  margin-top: 16px;
}

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 30px;
  border-radius: 3px;
  border: 2px solid #4F4CCF;
  transition: border .3s ease;

  &:focus {
    border-color: #4F4CCF;
  }
}

.collection-card-title {
  background-color: #4F4CCF;
  padding: 5px 15px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  left: 30%;
  top: 13%;

  @media only screen and (max-width: 600px) {
    left: 35px;
    top: 200px;
  }

  span {
    color: white;
  }
}